/* Primary colors:
Navy blue #00274c
Maize #ffcb0b

Secondary colors:
Dark teal #0B4C5F
Medium gray #585858
*/
body {
  background-color: #73878c;
  font-family: Verdana, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 70px;
  background-color: #002533;
}

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #002533;
  display: table;
}

footer > p{
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
  color: #73878c
}

body,html{
  margin: 0;
  padding: 0;
}

h1{
  margin-top: 10px;
  font-family: Verdana, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  width: 600px;
  margin: auto;
  padding: 25px;
}
p{
  margin-left: 10px;
}
ul{
  width: auto;
  float: right;
  margin-top: 8px;
}

li{
  display: inline-block;
  padding: 15px 30px;
}

a{
  text-align: center;
  color: #73878c;
  text-decoration: none;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 1.2vw;
}

a:hover{
  color: #ffffff;
  transition: 0.5s;
}

.center{
  display: block;
  margin: auto;
  width: 50%;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}